# Node.js / React (Vite)
node_modules/
dist/
.vite/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
eslintcache

# Editor settings
.vscode/
.idea/
*.swp
*.swo
*.swn

# Django / Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyo
venv/
env/
myenv/
*.egg-info/
db.sqlite3
media/
static/

# PostgreSQL
*.pgdata/
dump.sql

# Virtual Environment
venv/
env/

# Python dependencies
*.pip

# Misc
*.bak
*.tmp


# Ignore Django migration files
**/migrations/
**/migrations/*.py
**/migrations/*.pyc
**/migrations/__init__.py
**/migrations/__pycache__/

backend/apps//migrations/
backend/apps//migrations/.py
backend/apps//migrations/.py
backend/apps//migrations/init.py
backend/apps/*/migrations/pycache/